.npmrc

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.js

**/node_modules
.DS_Store
/packages/*/LICENSE
*.log
*.cache
/build
/.eslintcache
coverage
**/dist

.idea/
/.vscode
/.history

/dts
