.form-control {
  width: 100%;
  border: 1px solid #24292f;
  padding: 5px 16px;
  border-radius: var(--border-radius);
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  font-family: inherit;
}
